@page
@model Dunnatello.Pages.Errors.NotFoundModel
@{
}

<body>
	<h1>Uh oh.</h1>
	<p>Something happened unexpectedly. If refreshing the page doesn't work, please try again later.</p>

	<p>Here's a cat photo for your troubles, dear traveler.</p>

	<div class="dropShadowDiv">
		<img src="/images/Cat.jpg" style="width: 500px; height: auto; border-radius: 25px;margin: 50px;" />
	</div>
</body>