@page
@model Dunnatello.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}

<div>

	<h1>Hello there 🌊</h1>
	<p>I'm an aspiring game developer and I'm passionate about creating the best possible experiences that I can. Currently, 
		I specialize in Unity game development, but I am looking to try Unreal Engine when the need arises.</p>

	<p>I'm open to collaborate on new game development projects, so feel free to contact me and we can discuss further.</p>

	<p>I'm currently working on learning web development by creating this website using ASP.NET/C# as well as developing video game projects in my spare time.</p>
	<h2> ⭐ Quick Overview</h2>
</div>

<u1>
	<li>🎓 Bachelor of Science (B.S.), Computer Science</li>
	<li>🧐 Interested in Game & Simulation Development, User Interface Design, and Game Artificial Intelligence</li>
</u1>

<div>
	<h2>⛏️ Technologies & Tools</h2>
	<p>These are some of the technologies and tools that I have worked with:</p>
</div>

<u1>
<li>Languages: C#, C++, Lua, Java, Python, SQL</li>
<li>Tools: ASP.NET Core/C# Web Development using Azure Cloud Hosting (this website)
<li>Engines/SDKs: Unity, Solar2D</li>
<li>Other Skills: Leadership, Project Management, Proofreading, Technical Writing</li>
</u1>

<div>
	<h2>📨 Contact Me</h2>
	<p>If you would like to reach out to me, you can contact me via email.
	<div class="buttonList">
		<div class="button" style="background: rgb(183,28,28); background: linear-gradient(315deg, rgba(183,28,28,1) 0%, rgba(244,67,54,1) 100%);">
			<a href="mailto:dunnatello@dunnatello.com" class="buttonLink"><span>📨 Email</span></a>
		</div>
	</div>

		<h2>💬 Socials</h2>
	<p>Feel free to check out my socials as well!
	<div class="buttonList">
			<div class="button" style="background: rgb(66,66,66); background: linear-gradient(315deg, rgba(66,66,66,1) 0%, rgba(33,33,33,1) 100%);">
				<a href="https://www.youtube.com/&#64;Dunnatello" class="buttonLink"><span><img class="socialMediaIcon" src="~/images/Social Media/youtube_social_icon_white.png" /><br />&#64;Dunnatello</span></a>
		</div>
			<div class="button" style="background: rgb(76,175,80); background: linear-gradient(315deg, rgba(76,175,80,1) 0%, rgba(46,125,50,1) 100%);">
				<a href="https://www.github.com/Dunnatello" class="buttonLink"><span><img class="socialMediaIcon" src="~/images/Social Media/github-mark-white.png" /><br />Dunnatello</span></a>
		</div>
			<div class="button" style="background: rgb(0,188,212); background: linear-gradient(315deg, rgba(0,188,212,1) 0%, rgba(2,119,189,1) 100%);">
				<a href="https://www.tiktok.com/&#64;dunnatelloyt" class="buttonLink"><span><img class="socialMediaIcon" src="~/images/Social Media/tiktok.png" /><br />&#64;dunnatelloyt</span></a>
		</div>
	</div>


</div>