@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    
    <div>
        <h1 class="display-4">Welcome</h1>
    </div>
    <div class="gitHubProfile">
        <h2 class="blackTransparentBackground">🚀 Projects</h2>
        <div class="blackTransparentBackground">
            <h4>View all of my published projects.</h4>
            <br />
            <div class="buttonList">
                <div class="button" style="background-color: #4CAF50;">
                    <a href="/Projects/" class="buttonLink"><span>Projects</span></a>
                </div>
            </div>
        </div>
    </div>


</div>
