@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    
    <div>
        <h1 class="display-4">Welcome</h1>
    </div>
    <div class="containerDiv" style="height: 500px;background-image: none;">

        <video autoplay muted loop class="videoBackground">
            <source src="/videos/Asteroid Crashers Background.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <h2 class="blackTransparentBackground">🚀 Projects</h2>
        <div class="blackTransparentBackground">
            <h4>View all of my published projects.</h4>
            <br />
            <div class="buttonList">
                <div class="button" style="background: rgb(33,150,243); background: linear-gradient(315deg, rgba(33,150,243,1) 0%, rgba(0,255,250,1) 100%);">
                    <a href="/Projects/" class="buttonLink"><span>Projects</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="containerDiv circuitBackground" style="height:500px;">

        <h2 class="blackTransparentBackground">⭐ About Me</h2>
        <div class="blackTransparentBackground">
            <h4>Check out my skills and experience.</h4>
            <br />
            <div class="buttonList">
                <div class="button" style="background: rgb(183,28,28); background: linear-gradient(315deg, rgba(183,28,28,1) 0%, rgba(244,67,54,1) 100%);">
                    <a href="/About/" class="buttonLink"><span>About</span></a>
                </div>
            </div>
        </div>

    </div>

</div>
