@page
@model TestWebsite.Pages.Index1Model
@{
    ViewData[ "Title" ] = "Projects";
}


<body style="margin:0 0;padding: 0">
    <div>
        
        <div class="containerDiv">
            <h2 class="blackTransparentBackground">GitHub Profile</h2>
            <div class="dropShadowDiv">
                <div class="circleCrop">
                    <a href="https://github.com/Dunnatello"><img src="https://avatars.githubusercontent.com/u/11823777"></a>
                </div>
            </div>
            <div class="blackTransparentBackground">
                <h1 align="center">Dunnatello</h1>
                <p>You can view my GitHub profile if you're interested in seeing my contribution history.</p>
            </div>

        </div>

        <h1 align="center">🚀 Projects</h1>

        <div class="containerDiv">

            <video autoplay muted loop class="videoBackground">
                <source src="/videos/Occlusion Culling.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <h2 class="blackTransparentBackground">XR Training Simulation for Teacher Education</h2>
            <div class="dropShadowDiv">
                <img src="images/XRSimulationLogo.png" style="width: 256px;">
            </div>
            <div class="blackTransparentBackground">
                <div class="buttonList">
                    <div class="button" style="background: rgb(33,150,243); background: linear-gradient(315deg, rgba(33,150,243,1) 0%, rgba(0,255,250,1) 100%);">
                        <a href="/Projects/XRSimulation" class="buttonLink"><span>📃 Details</span></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="projectElement">

            <div class="dropShadowDiv">
                <img src="/images/XRSimulation Graph.png" width="750">
            </div>

            <p><i>XR Training Simulation for Teacher Education</i> is a classroom de-escalation training simulation software designed by myself and my other group members for our senior capstone project. This project features advanced animation systems and complex narrative design.</p>
        
        </div>


        <div class="containerDiv">

            <video autoplay muted loop class="videoBackground">
                <source src="/videos/Asteroid Crashers Background.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <h2 class="blackTransparentBackground">Asteroid Crashers</h2>
            <div class="dropShadowDiv">
                <img src="images/AsteroidCrashersIcon.png" style="width: 256px;">
            </div>
            <div class="blackTransparentBackground">
                <div class="buttonList">
                    <div class="button" style=" background: rgb(156,39,176); background: linear-gradient(315deg, rgba(156,39,176,1) 0%, rgba(106,27,154,1) 100%);">
                        <a href="https://github.com/Dunnatello/AsteroidCrashers/" class="buttonLink"><span>🤖 Repository</span></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="projectElement">
            <div class="dropShadowDiv">
                <img src="/images/AsteroidCrashersGraph.png" width="750">
            </div>

            <p><i>Asteroid Crashers</i> is a game designed by myself along with my other group members for our Secure Software Engineering university course. This project demonstrates how an anti-cheat system can be implemented into a Unity game.</p>
        </div>

        <div class="containerDiv visionsBackground">


            <h2 class="blackTransparentBackground">Visions</h2>
            <div class="dropShadowDiv">
                <img src="images/Visions icon.png" style="width: 256px;">
            </div>
            <div class="blackTransparentBackground">
                <div class="buttonList">
                    <div class="button" style="background: rgb(255,152,0); background: linear-gradient(315deg, rgba(255,152,0,1) 0%, rgba(239,108,0,1) 100%);">
                        <a href="https://github.com/Dunnatello-DifferentFusion/Visions" class="buttonLink"><span>🤖 Repository</span></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="projectElement">

            <div class="dropShadowDiv">
                <img src="/images/Visions%20Graph.png" width="750">
            </div>

            <p><i>Visions</i> is a game designed by myself and my friend for our Advanced Game & Simulation Development course. This project demonstrates ballistic weapon physics in a endless zombie shooter Unity game.</p>
        </div>


        <div class="containerDiv burnItUpBackground">


            <h2 class="blackTransparentBackground">Burn it Up!</h2>
            <div class="dropShadowDiv">
                <img src="images/BurnItUpIcon.png" style="width: 256px;">
            </div>
            <div class="blackTransparentBackground">
                <div class="buttonList">
                    <div class="button" style="background: rgb(183,28,28); background: linear-gradient(315deg, rgba(183,28,28,1) 0%, rgba(244,67,54,1) 100%);">
                        <a href="https://github.com/Dunnatello/BurnItUp" class="buttonLink"><span>🤖 Repository</span></a>
                    </div>
                </div>
            </div>


        </div>

        <div class="projectElement">

            <div class="dropShadowDiv">
                <img src="/images/BurnItUp Graph.png" width="750">
            </div>
        <p><i>Burn it Up!</i> is a weight loss app designed by myself along with my other group members for our Software Engineering Principles course project. In this project, we implemented a weight loss application in Solar2D/Lua.</p>

        </div>

</body>
